{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<br>
<br>
    
<main class="form-signin">
  <form action="{% url 'login' %}" method="post" class="w-25 mx-auto"> <!-- Добавлены классы w-25 и mx-auto -->
    {% csrf_token %}
    <div class="text-center mb-4">
      <img src="{% static 'assets/brand/bootstrap-logo.svg' %}" alt="" width="72" height="57">
    </div>
    <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>

    {% for field in form %}
    <div class="form-floating mb-3">
      
      {% if field.label == "Username" %}
        <input type="text" class="form-control" id="floatingInput" placeholder="Username" name="{{ field.name }}">
      {% else %}
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="{{ field.name }}">
      {% endif %}
      <label for="floatingInput">{{ field.label }}</label>
    </div>
    {% endfor %}

    <div class="checkbox mb-3 text-center"> <!-- Центрирование чекбокса -->
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017–2021</p> <!-- Центрирование копирайта -->
  </form>
</main>

{% endblock %}
