{% extends 'base.html' %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center">
    <div>
      <h5>Доступные тикеты</h5>
    </div>
    <div class="ms-4"> <!-- Отступ между элементами справа (0.5rem) -->
      {% if not is_support %}
        <a href="{% url 'create_ticket' %}" class="btn btn-secondary">Создать тикет</a>
      {% endif %}
    </div>
  </div>
  
  

<br>

<div class="container overflow-hidden">
    <div class="row gy-5 mb-4">
        {% for ticket in object_list %}
            <div class="col-6">
                <div class="card rounded-pill bg-light shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title">Проблема: {{ ticket.title }}</h5>
                        <p class="card-text">
                            Создатель: {{ ticket.created_by }}<br>
                            Исполнитель: {{ ticket.assigned_to }}
                        </p>
                        <a href="{% url 'detail_ticket' ticket.id %}" class="btn btn-secondary">Детальная информация</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>






{% include "tickets/ticket_pagination.html"  %}

{% endblock %}
