{% extends 'base.html' %}

{% block content %}

<br>

<div class="container overflow-hidden">
    <div class="row gy-5 mb-4">
        {% for ticket in object_list %}
            <div class="col-6">
                <div class="card rounded-pill bg-light shadow">
                    <div class="card-body text-center">
                        <h5 class="card-title">Проблема: {{ ticket.title }}</h5>
                        <p class="card-text">
                            Создатель: {{ ticket.created_by }}<br>
                            Исполнитель: {{ ticket.assigned_to }}
                        </p>
                        <a href="{% url 'detail_ticket' ticket.id %}" class="btn btn-secondary">Детальная информация</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>






{% include "tickets/ticket_pagination.html"  %}

{% endblock %}
